{% extends 'base.html.twig' %}

{% block title %}AssurPlus - Déclaration de sinistre{% endblock %}

{% block body %}
<div class="container">

    <h1 class="my-4">Déclarer votre sinistre</h1>

    {# display a flash message #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }}">
                <p> {{ message }} </p>
            </div>
        {% endfor %}
    {% endfor %}

    {# display form #}
    {{ form_start(form)}}

        {{ form_row(form.adressOfSinister) }}
        {{ form_row(form.description) }}
        {{ form_row(form.numberRegistration) }}
        {{ form_row(form.imagesFiles) }}
        <div class="form_group d-flex justify-content-between">
            {{ form_row(form.submit) }}
            <div class="mb-3">
                <a href="{{ path('app_home_page')}}" class="btn btn-secondary">Annuler</a>
            </div>
        </div>
    {{ form_end(form)}}
    
</div>

    
{% endblock %}
