{% extends 'base.html.twig' %}

{% block title %}AssurPlus - Déclaration de sinistre{% endblock %}

{% block body %}
<div class="container">

    <h1 class="my-4">Déclarer votre sinistre</h1>

    {# display a flash message #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }}">
                <p> {{ message }} </p>
            </div>
        {% endfor %}
    {% endfor %}

    {# display form #}
    {{ form_start(form)}}
    {{ form_row(form.customerPart.numberCustomer) }}
    {{ form_row(form.customerPart.firstname) }}
    {{ form_row(form.customerPart.lastname) }}
    {{ form_row(form.customerPart.mail) }}
    {{ form_row(form.customerPart.phoneNumber) }}
    {{ form_row(form.sinisterPart.adressOfSinister) }}
    {{ form_row(form.sinisterPart.description) }}
    {{ form_row(form.sinisterPart.numberRegistration) }}
    <div class="form_group d-flex justify-content-between">
        {{ form_row(form.submit) }}
        <div class="mb-3">
            <a href="/" class="btn btn-secondary">Annuler</a>
        </div>
    </div>
    {{ form_end(form)}}

    {# {{form(form)}} #}
    
</div>

    
{% endblock %}
